<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.werden.mycv">

	<uses-permission android:name="android.permission.INTERNET"/>

	<application
			android:name=".api.BackendVolley"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/AppTheme"
			tools:ignore="GoogleAppIndexingWarning">
		<activity
				android:name=".ui.activity.Freelance"
				android:label="@string/title_activity_freeLanceExperience"
				android:parentActivityName=".ui.activity.Home"
				android:screenOrientation="portrait">
		</activity>
		<activity
				android:name=".ui.activity.Work"
				android:label="@string/title_activity_workExperience"
				android:parentActivityName=".ui.activity.Home"
				android:screenOrientation="portrait">
		</activity>
		<activity
				android:name=".ui.activity.Education"
				android:label="@string/title_activity_education"
				android:parentActivityName=".ui.activity.Home"
				android:screenOrientation="portrait">
		</activity>
		<activity
				android:name=".ui.activity.Skills"
				android:label="@string/title_activity_skills"
				android:parentActivityName=".ui.activity.Home"
				android:screenOrientation="portrait">
		</activity>
		<activity
				android:name=".ui.activity.SoftSkills"
				android:label="@string/title_activity_softSkills"
				android:parentActivityName=".ui.activity.Home"
				android:screenOrientation="portrait">
		</activity>
		<activity
				android:name=".ui.activity.Information"
				android:label="@string/title_activity_information"
				android:parentActivityName=".ui.activity.Home"
				android:screenOrientation="portrait"
				android:theme="@style/Theme.AppCompat.NoActionBar">
		</activity>
		<activity
				android:name=".ui.activity.AboutMe"
				android:label="@string/title_activity_aboutMe"
				android:parentActivityName=".ui.activity.Home"
				android:screenOrientation="portrait">
		</activity>
		<activity
				android:name=".ui.activity.Home"
				android:label="@string/title_activity_home"
				android:screenOrientation="portrait"
				android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity
				android:name=".ui.activity.SplashScreen"
				android:screenOrientation="portrait"
				android:theme="@style/Theme.AppCompat.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>

</manifest>